/*common style*/
*,body{
	padding: 0;
	margin: 0;
	font: normal 100% 'Microsoft Yahei', Arial, sans-serif;
}
html, body { width:100%; margin:0; padding:0; font-size: 12px;}
body{background:#fff;min-width:320px;max-width:640px;margin:0 auto;}
li{list-style:none}
a:active,a:hover {outline: 0;text-decoration:none;}
a, li, a:hover, a:active, a:focus {text-decoration:none;}
a,input,button{border: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;}
.fl { float: left;}
.fr { float: right;}
/*清除浮动*/
.cf:before,.cf:after{display:table;line-height:0;content:"";}
.cf:after{clear:both;}
*.cf{zoom:1;}
.referee{
	color:#606060;
	text-align: center;
	font-size:15px;
	padding:6px 0;
}
.J_referee{
	background:#F6F5FA;
	width:80%;
	margin:0 auto;
	padding: 10px 16px;
}
.nickname .J_nickname{
}
.nickname .J_nickname .intimate{
	color:#606060;
	font-size:16px;
	width:60px;
	display: inline-block;
	padding-bottom:22px;
}
.nickname >.J_nickname:last-child>.intimate{
	padding-bottom:0px;
}
.nickname .J_nickname .call{
	color:#C7C7CD;
	font-size:14px;
}
.J_referee .userIcon{
	width: 80px;
    height: 80px;
    border-radius: 50%;
    padding-top:14px;
}
.J_referee .userIcon img{
	width:100%;
    height: 100%;
}
.reksm{
	position:relative;
	padding:10px 0 14px 16px;
	border-bottom:1px solid #F6F5FA;
}
.reksm label{
	color: #606060;
	font-size:16px;
	width:26%;
}
 input::-webkit-input-placeholder {
    color:#CDCDD2;
}
.reksm .nameInput{
	font-size:14px;
	height:22px;
	line-height:23px;
	color: #606060;
}
.reksm #btn{
	background: url(../images/btnBg.png)no-repeat center center;
	color:#fff;
	width:84px;
	height:30px;
	display: inline-block;
	position: absolute;
	text-align: center;
	line-height:30px;
	right: 10px;
}

.badgeBtn{
	width:90%;
	margin:auto;
	text-align:center;
	margin-top:18px;
}
.badgeBtn .msg{
    color: #F83271;
    font-size: 14px;
    height:30px;
    display:none;
    text-align: center;
}
.badgeBtn button,.badgeBtn a{
	width:100%;
	border-radius:8px;
	height:40px;
	line-height:40px;
	color:#fff;
	border:1px solid #F83271;
	background: #F83271;
	font-size:16px;
	display:inline-block;
}
@media only screen and (max-width:320px ) {
	.badgeBtn{
		width: auto;
	}
	.badgeBtn button,.badgeBtn a{
		width:300px;
	}
}
#two{
	display:none;
}
.flag{
	position:fixed;
	bottom:0;
	width:100%;
	max-width:640px;
	min-width: 320px;
	height: 100%;
	z-index: 10;
	display:none;
}
.bbg{
	background:rgba(0,0,0,.5);
	height:100%;
}
.kimgs{
	height:118px;
	position:fixed;
	width:300px;
	z-index: 11;
	background: #fff;
	left:0;
	right: 0;
	top:0;
	bottom:0;
	margin: auto;
	border-radius:8px
}
.kimgs .title{
	color: #222;
	font-size:15px;
	padding:12px 30px;
}
.eudi{
	margin-top:10px;
}
.eudi .fl{
	border-right:1px solid #F5F5F5;
	width:calc(50% - 1px);
}
.eudi .fr{
	width:50%;
	background: url(../img/btnBg.png)no-repeat center center;
	border-bottom-right-radius:8px;
	color:#fff;
}
.eudi .fl,.eudi .fr{
	font-size:16px;
	border-top:1px solid #F5F5F5;
	text-align: center;
	height:43px;
	line-height:43px;
}
.success{
	text-align: center;
	color:333;
	margin-top:10px;
	font-size:16px;
}
.success img{
	width:56px;
	height: auto;
	display: block;
	margin:0 auto;
	margin-bottom:10px;
}
.already {
	margin:14px 15px;
}
.already a{
	color:#F34048;
	font-size:13px;
}
